/*start form*/
body {
	/*background-color: #011025;*/
}
.signup,
.login{
	background-color: #1f2837;
	padding: 30px;
	max-width: 450px;
	margin:80px auto;
	border-radius: 10px;
}
.signup .fa-user-plus,
.login .login-icon{
	font-size: 40px;
	color:#d4a659;
	margin: 10px 180px;
}
.signup h1,
.login h1{
	color: #fff;
	margin-top: 0;
	margin-bottom: 20px;
}
.signup-form .form_group,
.login-form .form_group
{
	margin-bottom: 0;
	position: relative;
}
.login-form input{
	margin-bottom: 0;
}
.signup-form input{
	margin-bottom: 10px;
}
.signup-form input[placeholder],
.login-form input[placeholder]
{
	background-color:#aeb3b6;
}
.signup-form input,
.login-form input
{
	padding-left: 32px;
}
.signup-form i,
.login-form i{
  height: 0px;
  float: left;
  position: relative;
  top: -35px;
  left: 10px;
  color: #011025;
}
.login-form i{
	top: -25px;
  }
.signup-form .asterisx
{
	float: right;
	height: 0;
	color: #F20E0E;
	font-size: 22px;
	position: absolute;
	right:16px ;
	top: 7px;
}
.signup-form a{
	font-size: 18px;
}
.btn-success
{
	padding-left: 22px;
}

/*End Form*/